/* palette */
/* spacing unit */
/* font family */
/* font sizes */
/* standard classes */
.body-copy {
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 1.3;
  color: #8E8E8E; }

.section-header {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: #342E39; }

.section-header-expand {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: #342E39;
  text-transform: uppercase;
  letter-spacing: 2px; }

.page-header {
  font-size: 36px;
  font-weight: 300;
  color: #342E39;
  line-height: 1; }

.subhead {
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 1.3;
  color: #342E39;
  font-weight: 700; }

.tab-header {
  font-size: 20px;
  font-weight: 700;
  color: #E8EAEB;
  line-height: 1; }

#manage .page-header .address {
  color: #8fbf21; }

#manage #second-nav {
  width: 97%;
  margin: 35px auto; }
  #manage #second-nav .selection {
    font-size: 20px;
    font-weight: 700;
    color: #E8EAEB;
    line-height: 1;
    width: 33%;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #E8EAEB;
    cursor: pointer; }
    #manage #second-nav .selection.active {
      font-size: 20px;
      font-weight: 700;
      color: #8fbf21;
      line-height: 1;
      width: 33%;
      border-bottom: 2px solid #8fbf21;
      color: #8fbf21; }

#manage #add-endorsements, #manage #payment-history, #manage #policy-info {
  height: 300px;
  background-color: #F2F4F5;
  width: 100%;
  margin: 20px 0;
  text-align: center;
  display: none; }
  #manage #add-endorsements.active, #manage #payment-history.active, #manage #policy-info.active {
    display: block; }

/* UNIVERSAL */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%; }

.no-vertical-margin {
  margin: 0 2% !important; }

* {
  font-family: "Lato", Helvetica, sans-serif;
  letter-spacing: 0.3px; }

ul {
  list-style-type: none; }

/* page elements */
nav {
  background-color: #342E39;
  color: #FFFFFF;
  height: 60px; }
  nav ul {
    display: flex;
    justify-content: space-between;
    line-height: 60px; }
    nav ul li {
      color: #FFFFFF; }
    nav ul img {
      width: 65px; }

.body {
  margin-top: 40px;
  /* end of sidebar */ }
  .body .sidebar {
    height: 80vh;
    /* end of li */ }
    .body .sidebar li {
      margin-bottom: 5px; }
      .body .sidebar li:nth-child(1) {
        margin-top: 20px; }
      .body .sidebar li:nth-child(-n+2), .body .sidebar li:nth-child(4) {
        margin-bottom: 20px; }
  .body .main {
    padding-top: 10px; }

/* Quotes table */
#users {
  padding-top: 20px; }
  #users .list {
    font-family: sans-serif; }
  #users .list td {
    padding: 15px 10px;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 1.3;
    color: black; }
  #users #header-row td {
    padding: 0px 10px; }
  #users #header-row span {
    cursor: pointer; }
    #users #header-row span:hover {
      color: #8fbf21; }
  #users tbody.list tr:nth-child(odd) {
    background-color: #F2F4F5; }
  #users input {
    border: solid 1px #E8EAEB;
    border-radius: 30px;
    padding: 7px 14px;
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 1.3;
    color: black; }
    #users input::placeholder {
      color: #8E8E8E !important; }
  #users input:focus {
    outline: none;
    border-color: #8fbf21; }
  #users .sort {
    display: inline-block;
    color: #8E8E8E;
    text-decoration: none;
    height: 30px;
    position: relative;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 1.3;
    color: #342E39;
    font-weight: 700; }
  #users .sort:hover {
    text-decoration: none; }
  #users .sort:focus {
    outline: none; }
  #users .sort.asc:after, #users .sort:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #8E8E8E;
    content: "";
    position: absolute;
    top: 5px;
    right: -15px; }
  #users .sort.asc:after {
    border-top: 5px solid #8fbf21; }
  #users .sort.desc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #8fbf21;
    border-top: none !important;
    content: "";
    position: absolute;
    top: 5px;
    right: -15px; }
  #users .sort.desc, #users .sort.asc {
    color: #8fbf21; }

/* end quotes table - #users */
