/* palette */
/* fonts */
/* UNIVERSAL */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color: #f5f5f5; }

.no-vertical-margin {
  margin: 0 2% !important; }

* {
  font-family: "Lato", Helvetica, sans-serif; }

/* page elements */
nav {
  background-color: #342E39;
  color: #FFFFFF;
  height: 60px; }
  nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    line-height: 60px; }
    nav ul li {
      color: #FFFFFF; }
    nav ul img {
      width: 65px; }
