
@mixin primary-button($icon-url: null){

    @if ($icon-url){
    	 padding: 10px 30px 10px 45px;

    	 &:before{
	        content: "";
	        background-image: url($icon-url);
	        height: 15px;
	        width: 15px;
	        position: absolute;
	        left: 20px;
    	}

    } @else {
		padding: 10px 30px;
	}

    height: 40px;
    background-color: $white;
    border-radius: 30px;
    border: 1px solid $gray-medium;

    @include body-copy($black);
    letter-spacing: 1px;
    cursor: pointer;
    transition: $transition;
    position: relative;
    text-transform: capitalize;

    &:hover{
        border: 1px solid $green-1;
    }

    &:focus{
        outline: none;
    }
}

button.secondary{
	background-color: $green-1;
	color: $white;
	border: none;

	&:hover{
		background-color: $black;
		border: none;
	}
}

button{
	@include primary-button;
}

button.edit{
    @include primary-button("../img/icons/edit.png");
}

button.add{
    @include primary-button("../img/icons/add.png");
}

button.back{
    @include primary-button("../img/icons/arrow-left.png");
}

button.manage{
    @include primary-button("../img/icons/arrow-right.png");
}

button.money{
  @include primary-button("../img/icons/money.png")
}

button.chevron{
  @include primary-button("../img/icons/chevron.png")
}

button.download{
  @include primary-button("../img/icons/download.png")
}

button.cancel{
    @include primary-button("../img/icons/undo.png");
}

button.cancel.active{
    @include primary-button("../img/icons/undo-white.png");
    background-color: $black;
    color: $white;
    border: 1px solid $black;
}

/* input styles */
.tab-radio {
    list-style-type:none;
    margin: 0;
    padding: 0;
    height: 40px;

    li {
        float:left;
        margin:0 $unit 0 0;
        min-width:150px;
        height:40px;
        position:relative;
        text-align: center;
        @include body-copy($gray-dark);
    }

    label, input{
        display:block;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }

    input[type="radio"] {
        opacity:0;
        z-index:100;

    }

    input[type="radio"]:checked + label,
    .Checked + label {
        background: $green-1;
        color: $white !important;
    }

    label {
        background-color: $gray-lightest;
        cursor:pointer;
        z-index:1000;
        border-radius: 30px;
        line-height: 40px;
        height: 40px;
        transition: $transition;

        &:hover{
            background:$gray-medium !important;
        }
    }
}

input{
    border-radius: 30px;
    height: 40px;
    border: 1px solid $gray-medium;
    cursor: pointer;
    padding: 0 $unit-1;
    display: block;
    width: 100%;
    transition: $transition;

    &:focus{
        outline: none;
        border: 1px solid $green-1;
    }

    &:hover{
        border: 1px solid $green-1;
    }

    &::placeholder{
        color: $gray-medium;
    }

}

input.radio-input{
    width: auto !important;
    display: inline-block;
}

label.radio-label{
    display: inline-block;
    position: relative;
    top: -13px;
    margin: 0 20px 0 10px;
}
