/* a and button overwrites */
a{
	color: $green-1;
	text-decoration: none !important;
	padding-bottom:2px;

	&:hover{
		color: $green-1;
		border-bottom: 1px solid $green-1;
		margin-bottom: -1px;
	}

	&.btn-tag{
		padding-bottom: 0;
		color: unset;

		&:hover{
			border-bottom: unset;
		}
	}
}

/* font family */
$lato: 'Lato', Helvetica, sans-serif;

/* font sizes */
@mixin subhead($color){
	font-size: 12px;
	letter-spacing: 0.5px;
	line-height: 1.3;
	color: $color;
	font-weight: 700;
}

@mixin subhead-sml($color){
	font-size: 12px;
	letter-spacing: 0.5px;
	line-height: 1.5;
	color: $color;
	font-weight: 400;
}

@mixin body-copy($color){
	font-size: 14px;
	letter-spacing: 0.3px;
	line-height: 1.3;
	color: $color;
}

@mixin section-header($color){
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
	color: $color;
}

@mixin value-header{
	font-size: 25px;
	font-weight: bold;
	line-height: 1;
	color: #000;
}

@mixin modal-header{
	font-size: 25px;
	font-weight: 400;
	line-height: 1.3;
	color: #000;
}

@mixin page-header($color){
	font-size: 36px;
	font-weight: 300;
	color: $color;
	line-height: 1;
}

@mixin tab-header($color){
	font-size: 20px;
	font-weight: 700;
	color: $color;
	line-height: 1;
}

/* standard classes */
.body-copy{
	@include body-copy($gray-light);
}

.section-header{
	@include section-header($black);
}

.section-header-expand{
	@include section-header($black);
	text-transform: uppercase;
	letter-spacing: 2px;
}

.page-header{
	@include page-header($black);
}

.subhead{
	@include subhead($black);
}

.tab-header{
	@include tab-header($gray-medium)
}

.value-header{
	@include value-header;
}

.modal-title{
	@include modal-header;
	margin: 0 auto;
	text-align: center;
}
