/* overview */
#manage{
	.page-header .address{
		color: $green-1;
	}

	#second-nav{
		margin-top: $unit;
		.selection{
			border-bottom: 1px solid $gray-light;
			cursor: pointer;

			&.active{
				border-bottom: 1px solid $green-1;
				color: $green-1;
			}
		}
	}

	#add-endorsements, #payment-history, #policy-info{
		min-height: 300px;
		width: 100%;
		margin: 20px 0;
		display: none;

		&.active{
			display: block;
		}
	}
}

/* add endorsemenrs */
#add-endorsements{
	text-align: left;

	.boxed-section{
		@include section-box; /* defined in _var.scss */
	}

	/* date */
	.cal-icon{
		margin: -10px 10px 0 0;
	}

	table{
		margin-top: $unit;
		width: 100%;
	}
}