/* overview */
#manage{
	.page-header .address{
		color: $green-1;
	}

	#second-nav{
		width: 97%;
		margin: $unit-2 auto;
		.selection{
			@include tab-header($gray-medium);
			width: 33%;
			padding-bottom: $unit;
			text-align: center;
			border-bottom: 2px solid $gray-medium;
			cursor: pointer;

			&.active{
				@include tab-header($green-1);
				width: 33%;
				border-bottom: 2px solid $green-1;
				color: $green-1;
			}
		}
	}

	#add-endorsements, #payment-history, #policy-info{
		min-height: 300px;
		width: 100%;
		margin: 20px 0;
		display: none;

		&.active{
			display: block;
		}
	}
}

/* add endorsemenrs */
#add-endorsements{
	text-align: left;
}

.boxed-section{
	@include section-box; /* defined in _var.scss */
}

/* date */
.cal-icon{
	margin: -10px 10px 0 0;
}

table{
	margin-top: $unit;
	width: 100%;
}

#submit{
	position: absolute;
	right: 15px;
}

#callout{
	margin-top: $unit;
	padding: $unit 80px;
	text-align: center;
	@include subhead-sml($black);

}

@mixin account-status($icon-url: null){
	font-weight: 700;
	padding-left: $unit-2;

	&:before {
		content: "";
		background-image: url($icon-url);
		height: 30px;
		width: 30px;
		position: absolute;
		left: 10px;
	}
}

.account-status {
	@include body-copy($black);
	max-width: 242px;
	font-size: 16px;

}
#account-status-warning {
	@include account-status("../img/icons/warning.png");
	color: #F0717F;
}

#payment-status {
	margin-top: $unit;
	font-weight: 700;
}

#date{
	display: block;
	min-height: 300px;
}
// payments table
#table-alternating-colors{

  padding-top: 0px;

  .list {
    font-family:sans-serif;
  }

  .list td {
    padding: 15px 10px;
    @include body-copy(black); /* defined in _fonts.scss */
  }

  #header-row {
		@include subhead($black);
	  color:$gray-light;
	  text-decoration: none;
	  height:30px;
	  @include subhead($black);

		td{
      padding: 0 10px;
    }

    span{
    cursor: pointer;

    &:hover{
      color: $green-1;
      }
    }
  }

 tbody.list tr:nth-child(odd){
      background-color: $gray-lightest;
  }

  input {
    border:solid 1px $gray-medium;
    border-radius: 30px;
    padding:7px 14px;
    margin-bottom:20px;
    width: 100%;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    @include body-copy(black); /* defined in _fonts.scss */

    &::placeholder{
      color: $gray-light !important;
    }
  }

  input:focus {
    outline:none;
    border-color:$green-1;
  }

}

#table-button {
	text-align: right;
}
