/* overview */
#manage{
	.page-header .address{
		color: $green-1;
	}

	#second-nav{
		width: 97%;
		margin: $unit-2 auto;
		.selection{
			@include tab-header($gray-medium);
			width: 33%;
			padding-bottom: $unit;
			text-align: center;
			border-bottom: 2px solid $gray-medium;
			cursor: pointer;

			&.active{
				@include tab-header($green-1);
				width: 33%;
				border-bottom: 2px solid $green-1;
				color: $green-1;
			}
		}
	}

	#add-endorsements, #payment-history, #policy-info{
		min-height: 300px;
		width: 100%;
		margin: 20px 0;
		display: none;

		&.active{
			display: block;
		}
	}
}

/* add endorsemenrs */
#add-endorsements{
	text-align: left;
}

.boxed-section{
	@include section-box; /* defined in _var.scss */
}

/* date */
.cal-icon{
	margin: -10px 10px 0 0;
}

table{
	margin-top: $unit;
	width: 100%;
}

#submit{
	position: absolute;
	right: 15px;
}

#callout{
	margin-top: $unit;
	padding: $unit 80px;
	text-align: center;
	@include subhead-sml($black);

}
